
body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.first-para {
  font-size: 1.3rem;
  width: 75%;
  margin-bottom: 5%;
  line-height: 200%;
}
h1 {
  font-size: 3rem;
  font-weight:700 ;
  color: rgba(87, 87, 87, 1);
}
p {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 200%;
}
h2 {
  font-weight: 900;
  font-size: 2rem;

}
.btn {
  background-image: linear-gradient(60deg ,rgba(251, 162, 79, 1),rgba(255, 30, 30, 1));
  color:white ;
  padding: 1.3rem 2rem;
  border-radius:1.5rem;
  text-decoration: none;
  font-weight:700 ;
}
/* first-section  */
.first-section {
  background-image: url(img/bg\ \(3\).jpg);
  width: 100vw;
  height: 100vh;
}
.flexible{
  display: flex;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
/* Second-section  */
.second-section {
  background-image: url(img/bg\ \(4\).jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height:73vh;
}
/* Third-section  */
.three-section {
  width: 100vw;
  height: 80vh;
}
.Recipies-heading {
  width: 100%;
  height: 20vh;
  text-align: center;

}
.cards {
  display: flex;
  justify-content: space-around;
}
.card-items {
  width: 20%;
  height: 60vh;
  border-radius: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  margin-top: 5%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
 padding-left:7% ;
}
/* Four-section  */
.four-section {
  width: 100vw;
  height: 40vh;
  position: relative;
}
.box {
  display: flex;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 5% ;
  position: absolute;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Fifth gallery section*/
.gallery{
  width: 100vw;
  height: 100vh;
}

.grid-gallery {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto;
  grid-gap: 2rem 1rem;
  justify-content: center;
  align-content: center;
}

/* Six Form section  */

.form-section{
  background:rgb(228, 179, 151);
  width:20%;
  height: 30vh;
  border-radius:5px;
  margin: auto;
  margin-bottom: 2% ;
  padding:4%; 
  border: #292929 2px solid; 
  text-align: center;
}
.form-div{
  padding: 5%;
  margin-bottom: 4%;
}

/* footer section  */
.footer-section {
  background-color: black;
  width: 100%;
  height: 30vh;
 
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}